In [9]:
#Creating series from list. Here we are getting labels in the form of default serial numbers

import pandas as pd
import numpy as np

a = [11, 77, 22]
print("List:", a)

arr = np.array(a)
print("Array:", arr)

myvar = pd.Series(a)
print("Series:", myvar)

List: [11, 77, 22]
Array: [11 77 22]
Series: 0    11
1    77
2    22
dtype: int64

In [11]:
#Create your own labels:

import pandas as pd

a = [12, 78, 42]
myvar = pd.Series(a, index = ["x","y","z"])
print(myvar)
print(myvar["y"])

x    12
y    78
z    42
dtype: int64
78

In [15]:
#Create simple Pandas Series from a dictionary

import pandas as pd

calories = {"day1":420, "day2":380, "day3":390}

myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [17]:
#Create a Series using only data from "day1" and "day2" : Choose specific labels to create series
import pandas as pd

calories = {"day1":420, "day2":380, "day3":390}

myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [19]:
#Creating series using ndarray
import pandas as pd
import numpy as np

data = np.array(['b','o','f','f','i','n','s'])

ser = pd.Series(data)
print(ser)

0    b
1    o
2    f
3    f
4    i
5    n
6    s
dtype: object

In [23]:
#Creating series from list
import pandas as pd

list = ['b','o','f','f','i','n','s']

ser = pd.Series(list)
print(ser)

0    b
1    o
2    f
3    f
4    i
5    n
6    s
dtype: object

'''There are two ways through which we can access element of series, they are:

1. Accessing Element from Series with Position

2. Accessing Element using Label(index)'''

In [25]:
#1. Accessing Element from Series with Position
#Accessing first 5 elements of Series

import pandas as pd
import numpy as np

data = np.array(['b','o','f','f','i','n','s'])
ser = pd.Series(data)

#retrieve the first element
print(ser[:5])

0    b
1    o
2    f
3    f
4    i
dtype: object

'''2. Accessing Element using Label(index)

In order to access an element from series, we have to set values by index label.

A Series is like a fixed-size dictionary in that you can get and set values by index label.

Accessing a single element using index label'''

In [29]:
import pandas as pd
import numpy as np
#creating simple array
data = np.array(['b','o','f','f','i','n','s'])
ser = pd.Series(data, index = [12,13,14,15,16,17,18])

#accessing a element using index element
print(ser[16])

i

 # Pandas Series

1. One-dimentional
2. Homogenous - Series element must be of the same data type.
3. Size-immutable - Once created, the size of a Series object cannot be changed

# Pandas DataFrame :

1. Two-dimentional
2. Heterogenous - DataFrame elements can have different data types.
3. Size-mutable - Elements can be dropped or added in an existing DataFrame.'''

In [33]:
#A Pandas DataFrame is a 2-dimentional data structure, like a 2-D array, or a table with rows and columns

import pandas as pd

mydataset = {'cars':["BMW","Volvo","Ford"], 'passings':[3, 7, 2]}
print(mydataset)

myvar = pd.DataFrame(mydataset)

print(myvar)
print(myvar.info())

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}
    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cars      3 non-null      object
 1   passings  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

In [35]:
#Pandas using alias
import pandas as pd

mydataset = {'cars':["BMW","Volvo","Ford"], 'passings':[3, 7, 2]}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2