In [1]:
#class Practice#

In [3]:
class Student:
    name = "Vaishanvi"
    education = "MBA finance"
s1 = Student()
print(s1.name)
print(s1.education)

Vaishanvi
MBA finance

In [5]:
class student:
    def __init__(self,fullname):
        self.name = fullname
        print("adding student details in database...")
s1 = student("amol")
print(s1.name)

adding student details in database...
amol

In [4]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
    def get_avg(self):
        sum = 0
        for val in self.marks:
            sum = sum + val
        print(sum/3)
x2 = Student("Vaishnavi",[81,75,78])
x2.get_avg()
print(x2.name,x2.marks)

78.0
Vaishnavi [81, 75, 78]

In [7]:
def cal_fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    print(fact)
cal_fact(5)

120

In [13]:
def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val,"USD =", inr_val,"INR")
converter(100)

100 USD = 8300 INR

Q1 Write a Python program that checks if a car’s price is greater than ₹10,00,000.
If it is, print "Luxury Car", otherwise print "Budget Car".

In [7]:
car = {"brand": "Toyota", "model": "Fortuner", "price": 3500000}
if car["price"] > 1000000 :
     print("Luxury Car")
else:
    print("Budget Car")

Luxury Car

Q2.Given a list of car prices, write a Python program to calculate the total sales revenue.

In [10]:
car_prices = [800000, 1200000, 3000000, 950000, 1500000]
total_sales_revenue = sum(car_prices)
print("total_sales_revenue :",total_sales_revenue)

total_sales_revenue : 7450000

Q3 ) A dictionary contains the car models and their corresponding prices. 
Write a program to find and print the price of a specific car model.
# Dictionary with car models and prices

In [29]:
cars = {
    "Fortuner": 3500000,
    "Innova": 2200000,
    "Swift": 800000,
    "Baleno": 1000000
}
for a,b in cars.items():
    print(a,b)

Fortuner 3500000
Innova 2200000
Swift 800000
Baleno 1000000

Q4 ) Write a Python program to store a list of car brands and print them one by one using a for loop.
 # List of car brands

In [24]:
car_brands = ["Toyota", "Honda", "Maruti Suzuki", "Hyundai", "Tata"]

for i in car_brands:
    print(i)

Toyota
Honda
Maruti Suzuki
Hyundai
Tata

q5) Question:
Write a program that:
a)Stores car sales data (brand, model, price) in a list of dictionaries.
b)Calculates the total revenue of all cars priced above ₹1,000,000.
# List of car sales data

In [23]:
car_sales = [
    {"brand": "Toyota",        "model": "Fortuner", "price": 3500000},
    {"brand": "Maruti Suzuki", "model": "Swift",    "price": 800000},
    {"brand": "Hyundai",       "model": "Creta",    "price": 1500000},
    {"brand": "Tata",          "model": "Nexon",     "price": 900000}
]

for car in car_sales:
    print(f"Brand: {car["brand"]}, Model: {car["model"]}, Price: {car["price"]}")
# b)
x = []
for car in car_sales:
    if car["price"] > 1000000:
        x.append(car["price"])
print()        
print(x)
y = sum(x)
print("Total revenue of all cars priced above ₹1,000,000 :" ,y)

Brand: Toyota, Model: Fortuner, Price: 3500000
Brand: Maruti Suzuki, Model: Swift, Price: 800000
Brand: Hyundai, Model: Creta, Price: 1500000
Brand: Tata, Model: Nexon, Price: 900000

[3500000, 1500000]
Total revenue of all cars priced above ₹1,000,000 : 5000000

Question 6 :
Write a Python program to find the car with the highest price from a list of car sales data.

In [17]:
car_sales = [
    {"brand": "Toyota",        "model": "Fortuner", "price": 3500000},
    {"brand": "Maruti Suzuki", "model": "Swift",    "price": 800000},
    {"brand": "Hyundai",       "model": "Creta",    "price": 1500000},
    {"brand": "Tata",          "model": "Nexon",     "price": 900000}
]

max_price = 0
car = None
for i in car_sales:
    if max_price < i["price"]:
       max_price = i["price"]
       car = i["brand"]
print(f"The car with the highest price of car sales data is : {car} {max_price}")

The car with the highest price of car sales data is : Toyota 3500000

Case Overview:
 An online e-commerce platform manages products, customers, and orders.
Developers are required to write Python scripts to solve various tasks related to this platform.

In [22]:
'''Q1: Write a function that checks if a product price is above $100.
If yes, return "Expensive", otherwise return "Affordable".'''

def product_price(price):
    if price > 100 :
        print("expensive")
    else:
        print("Affordable")
x = int(input("enter the products price "))  
product_price(x)

enter the products price  150

expensive

In [ ]:
'''# 2. Nested if-else
 Write a function to check if a product is eligible for free shipping. 
A product is eligible if its price is above $50 or belongs to the "Premium" category'''
def products(a):
    if a > 50 :
        print("Product is eligible")
    else:
        print("Belongs to Premium category")
price = int(input("enter the price"))
products(price)

3. For Loop - Iterating Over a List
# Q3: Print the names of all products from a given list.
products = ["Laptop", "Phone", "Tablet", "Camera"]

In [9]:
products = ["Laptop", "Phone", "Tablet", "Camera"]
for i in products:
    print(i)

Laptop
Phone
Tablet
Camera

for loop with Condition
# Q4: Print products whose names start with the letter 'P'.
products = ["Laptop", "Phone", "Tablet", "Camera"]

In [21]:
products = ["Laptop", "Phone", "Tablet", "Camera"]
for j in products:
    if j[0] == "P":
        print(j)

Phone

5. While Loop - Calculate Total Cart Value
# Q5: Write a function to calculate the total price of products in a cart

In [4]:

def total_cart_value(price1,price2):
   a = price1 + price2
   print("Total price of products in a cart is :",a)
z = int(input("enter the price of products-1 in a cart"))
y = int(input("enter the price of products-2 in a cart"))

total_cart_value(z,y)

enter the price of products-1 in a cart 200
enter the price of products-2 in a cart 300

Total price of products in a cart is : 500

6. Lists - Adding and Removing Elements
# Q6: Write a function to add a new product to a list of products.