# 1st Moment Business Decision :--

In [ ]:
# 1.Calculate the "Mean"
Sample_Data = [30000,35000,42000,50000,52000,35000,33000,36000,40000,22000]
sum = 0
for i in Sample_Data:
    sum = sum + int(i)
    print(sum)
Avg = sum / len(Sample_Data)
print("Mean of Sample_Data is",{Avg})

In [21]:
# 2.Calculate the "Median
# n = even
Age_group = [32,35,20,26,22,23,27,26,40,90,]
Age_group.sort()
print(Age_group)

n = len(Age_group)
print(n)
median = (Age_group[n//2 - 1] + Age_group[n//2]) / 2  
print(f"median value of Age group is {median}")

[20, 22, 23, 26, 26, 27, 32, 35, 40, 90]
10
median value of Age group is 26.5

In [20]:
# 2.Calculate the "Median
# n = odd
Age_group = [32,35,20,26,22,23,27,26,40,90,50]
Age_group.sort()
print(Age_group)

n = len(Age_group)
print(n)
median =  Age_group[n//2]
print(f"median value of Age group is {median}")

[20, 22, 23, 26, 26, 27, 32, 35, 40, 50, 90]
11
median value of Age group is 27

In [12]:
# 3.Calculate the "Mode" :
list1 = ["shirt","trouser","trouser","jeans","t-shirt","hoody","shirt","shirt","trouser","shirt"]
outfits = {}
for item in list1:
    if item in outfits:
        outfits[item] = outfits[item] + 1
    else:
        outfits[item] = 1
print(outfits)
# find the item with the highest frequency (mode)
max_freq = 0
max_item = None
for item,freq in outfits.items():
    if freq > max_freq:
        max_freq = freq
        mode_item = item

print("The mode of the list is :", mode_item)

{'shirt': 4, 'trouser': 3, 'jeans': 1, 't-shirt': 1, 'hoody': 1}
The mode of the list is : shirt

In [1]:
data = [15,16,17,18,19,20,21,22,23,25,28,30,35,40,100]
sorted_data = sorted(data)
n = len(data)  #(n = 15)
print(n)

#Q1 = first quartile 
Q1_index = int(0.25 * n)
Q1 = sorted_data[Q1_index]
        
print("First Quartile (Q1) :",Q1)

#Q2 = second quartile
Q3_index = int(0.75 * n)
Q3 = sorted_data[Q3_index]
print("Third Quartile (Q3) :",Q3)

#calculte the IQR(Interquartile Range):
IQR = Q3 - Q1           #IQR =35-19= 16
print("IQR :", IQR)

#for outliers rule:
x = (1.5*IQR)      #(1.5*16)= 24
print("x :", x)
LB = Q1 - (1.5*IQR)  #(19-24 = -5)
print("LB :",LB)   
UB = Q3 + (1.5*IQR)  #(35+24 = 59)
print( "UB :",UB)

#identify the outliers and print
outliers = [value for value in data if value < LB or value > UB]
print("outliers:",outliers)

15
First Quartile (Q1) : 18
Third Quartile (Q3) : 30
IQR : 12
x : 18.0
LB : 0.0
UB : 48.0
outliers: [100]

In [15]:
Income = [20000,25000,30000,35000,40000,45000,50000,55000,60000,200000]
n = len(Income)  #(n = 10 )
#print(n)

#Q1 = first quartile 
Q1_index = int(0.25 * n)
print(f"Q1_index :- {Q1_index}")
Q1 = Income[Q1_index]       
print("First Quartile (Q1) :",Q1)

#Q2 = second quartile
Q3_index = int(0.75 * n)
print(f"Q3_index :- {Q3_index}")
Q3 = Income[Q3_index]      
print("Third Quartile (Q3) :",Q3)

#calculte the IQR(Interquartile Range):
IQR = Q3 - Q1          
print("Interquartile Range :", IQR)

#for outliers rule:
x = (1.5*IQR)      
print("x :", x)
LB = Q1 - (1.5*IQR)  
print("LB :",LB)  
UB = Q3 + (1.5*IQR)  
print( "UB :", UB)

#identify the outliers and print
outliers = [value for value in Income if value < LB or value > UB]
print("outliers:",outliers)

Q1_index :- 2
First Quartile (Q1) : 30000
Q3_index :- 7
Third Quartile (Q3) : 55000
Interquartile Range : 25000
x : 37500.0
LB : -7500.0
UB : 92500.0
outliers: [200000]

In [10]:
age = [21,24,25,26,27,28,32,36,40,52,]
age_sorted = sorted(age)
num_observations = len(age_sorted)
print(num_observations)

if num_observations % 2 == 1:
    median_index = num_observations // 2
    median_age = age_sorted[median_index]
    print("median age :",median_age)
else:                                         
    median_index1 = num_observations // 2 - 1
    median_index2 = num_observations // 2
    me dian_age1 = (age_sorted[median_index1]+age_sorted[median_index2])/2
    print("median age :",median_age1)

10
median age : 27.5

In [6]:
height = [38, 51, 46, 79, 57]
sorted_height = sorted(height)
n = len(height)
print(sorted_height)
Q1_index = int(0.25 * n)
print(Q1_index)
print(Q1)
Q3_index = int(0.75 * n)
print(Q3_index)
print(Q3)
Q1 = sorted_height[Q1_index]
Q3 = sorted_height[Q3_index]
IQR = Q3 - Q1
print(IQR)

x = 1.5 * IQR
print(x)

[38, 46, 51, 57, 79]
1
46
3
57
11
16.5

# 2nd Moment Business Decision :--

In [2]:
Age = [22,23,26,21,30]

# step 1 : calculate the mean
mean = sum(Age) / len(Age)

# step 2 : calculate the variance 
variance = sum((x - mean) ** 2 for x in Age) / len(Age)

# step 3 : calculate the standard deviation 
standard_deviation = variance ** 0.5

# print the results
print("mean :",mean)
print("variance :",variance)
print(f"standard deviation : {standard_deviation:.2f}")

mean : 24.4
variance : 10.64
standard deviation : 3.26

In [7]:
data =[15,18,20,22,25,30,35,40,100,150]

# step 1 : calculate the mean
mean = sum(data) / len(data)

# step 2 : calculate the variance 
variance = sum((x - mean) ** 2 for x in data) / len(data)

# step 3 : calculate the standard deviation 
standard_deviation = variance ** 0.5

# print the results
print("mean :",mean)
print("variance :",variance)
print(f"standard deviation : {standard_deviation:.2f}")

mean : 45.5
variance : 1758.05
standard deviation : 41.93

In [9]:
alpha = [225,230,231,223,226]
beta = [228,231,235,224,227]

# calculate the mean of alpha
mean_of_alpha = sum(alpha) / len(alpha)
# calculate the variance of alpha
variance_of_alpha = sum((a - mean_of_alpha)** 2 for a in alpha) / len(alpha)
#calculate the standard deviation of alpha
standard_deviation_of_alpha = variance_of_alpha ** 0.5
#print the results:--
print("mean_of_alpha :" ,mean_of_alpha)
print("variance_of_alpha :",variance_of_alpha)
print(f"standard_deviation_of_alpha : {standard_deviation_of_alpha:.2f}\n")

# calculate the mean of beta
mean_of_beta = sum(beta) / len(beta)
# calculate the variance of beta
variance_of_beta = sum((b - mean_of_beta)** 2 for b in beta) / len(beta)
#calculate the standard deviation of beta
standard_deviation_of_beta = variance_of_beta ** 0.5
#print the results:--
print("mean_of_beta :" ,mean_of_beta)
print("variance_of_beta :",variance_of_beta)
print(f"standard_deviation_of_beta : {standard_deviation_of_beta:.2f}\n")

if (standard_deviation_of_alpha < standard_deviation_of_beta):
    print("ICC Board select for alpha.")
else:
    print("ICC Board select for beta.")

mean_of_alpha : 227.0
variance_of_alpha : 9.2
standard_deviation_of_alpha : 3.03

mean_of_beta : 229.0
variance_of_beta : 14.0
standard_deviation_of_beta : 3.74

ICC Board select for alpha.

In [7]:
a = {30000, 25000, 35000, 40000, 28000, 22000, 32000, 38000, 26000, 34000}
n = len(a)
a_sorted = sorted(a)
print(a_sorted)
print(f"len of a is :- {n}")
mean = sum(a_sorted)/n
print(f"mean is :- {mean}")
median = (a_sorted[n//2- 1] + a_sorted [n//2])/2
print(f"median is :- {median}")

[22000, 25000, 26000, 28000, 30000, 32000, 34000, 35000, 38000, 40000]
len of a is :- 10
mean is :- 31000.0
median is :- 31000.0